<!DOCTYPE html>
<html>
<head>
    <title>로그인 폼</title>
</head>
<body>
<h2>로그인</h2>
<form id="loginForm">
    <label for="email">이메일:</label>
    <input type="text" id="email" name="email" required><br><br>

    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required><br><br>

    <button type="submit">로그인</button>
    <button th:onclick="|location.href='@{/register}'|"
                type="button">회원가입</button>
</form>

<div id="token"></div>

<script>
    // JavaScript 코드를 여기에 작성합니다.
    document.getElementById('loginForm').addEventListener('submit', function (event) {
        event.preventDefault(); // 폼 제출 기본 동작 막기

        // 폼 입력 값을 가져옵니다.
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        // 서버에 보낼 URL을 지정합니다.
        const apiUrl = 'http://localhost:8080/login';

        // POST 요청 설정
        const requestOptions = {
            method: 'POST', // HTTP 메서드
            headers: {
                'Content-Type': 'application/json' // 요청 헤더 설정
            },
            body: JSON.stringify({
                email: email,
                password: password
            }) // 요청 본문 데이터 (JSON 문자열로 변환)
        };

        // POST 요청 보내기
        fetch(apiUrl, requestOptions)
            .then(response => {
                if (!response.ok) {
                    throw new Error('서버 내에서 예외 발생');
                }
                return response.json(); // JSON 데이터로 파싱
            })
            .then(data => {

                // 로그인 성공시 콘솔에 json 데이터 남기고, main 페이지로
                console.log("data 파싱 결과:", data);

                return fetch('http://localhost:8080/community', {
                    method: 'GET'
                });
            })
            .catch(error => {
                console.error('오류:', error);
            });

    });
</script>
</body>
</html>