<!DOCTYPE html>
<html>
<head>
    <title>로그인 폼</title>
</head>
<body>
<h2>로그인</h2>
<form id="loginForm">
    <label for="email">이메일:</label>
    <input type="text" id="email" name="email" required><br><br>

    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required><br><br>

    <button type="submit">로그인</button>
    <button th:onclick="|location.href='@{/register}'|"
                type="button">회원가입</button>
</form>

<div id="token"></div>

<script>
    // JavaScript 코드를 여기에 작성합니다.
    document.getElementById('loginForm').addEventListener('submit', async function (event) {
        event.preventDefault(); // 폼 제출 기본 동작 막기

        // 폼 입력 값을 가져옵니다.
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        // 서버에 보낼 URL을 지정합니다.
        const apiUrl = 'http://localhost:8080/login';

        // POST 요청 설정
        const requestOptions = await fetch("/api/login", {
            method: 'POST', // HTTP 메서드
            headers: {
                'Content-Type': 'application/json' // 요청 헤더 설정
            },
            body: JSON.stringify({
                email: email,
                password: password
            }) // 요청 본문 데이터 (JSON 문자열로 변환)
        });

        if(requestOptions.ok){
            const data = await requestOptions.json();
            console.log(data)
            const token = data.accessToken;

            if(token) {
                localStorage.getItem("token", token);

                const mainUrl = "/main";
                const headers = new Headers();
                headers.append("Authorization", `Bearer ${token}`);

                const response = await fetch(mainUrl, {
                    method: "GET",
                    headers: headers
                });

                if (response.ok) {
                    window.location.href = mainUrl;
                } else {
                    console.log("Failed to load main page");
                }

            }else {
                console.log("Token validation failed");
            }
        } else {
            console.log("error");
        }
    });
</script>
</body>
</html>