<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
    }
    .button {
      display: inline-block;
      padding: 10px 20px;
      margin: 10px;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
    }
  </style>
</head>
<body>
<div class="container">
  <h1>My-Pet-Life</h1>
  <a href="/calendar" id="calendar" class="button">일정</a>
  <a href="#" class="button">병원</a>
  <a href="#" class="button">커뮤니티</a>
  <a href="/stomp/chat" class="button">챗봇</a><br><br>
  <a href="/main" id="logout" class="button">로그아웃</a>
</div>
<script>
  document.getElementById('logout').addEventListener('click', function (event) {
    const token = localStorage.getItem('accessToken');
    // alert(token);

    // 토큰 데이터 삭제
    localStorage.removeItem("accessToken");
    alert("로그아웃 되었습니다.");
  });
</script>
</body>
</html>