<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="login-wrapper">
    <h2>Register</h2>
    <form id="register-form" method="post">
        <div class="form-floating">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control">
        </div>
        <div class="form-floating">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control">
        </div>
        <div class="form-floating">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control">
        </div>
        <div class="form-floating">
            <label for="phone">Phone</label>
            <input type="tel" id="phone" name="phone" class="form-control">
        </div>
        <div class="form-floating">
            <label for="petSpices">petSpices</label>
            <select id="petSpices" name="petSpices" class="form-select">
                <option value="DOG">강아지</option>
                <option value="CAT">고양이</option>
                <option value="HAMSTER">햄스터</option>
                <option value="HEDGEHOG">고슴도치</option>
                <option value="BIRDS">조류</option>
                <option value="REPTILE">파충류</option>
                <option value="FISH">어류</option>
                <option value="TURTLE">거북이</option>
                <option value="ETC">기타</option>
            </select>
<!--            <input type="petSpices" id="petSpices" name="petSpices" class="form-control">-->
        </div>
        <!-- Other input fields -->
        <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
    </form>
</div>
<script>
    document.getElementById("register-form").addEventListener("submit", async function(event) {
        event.preventDefault();

        const username = document.getElementById("username").value;
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
        const phone = document.getElementById("phone").value;
        const petSpices = document.getElementById("petSpices").value;

        const response = await fetch("/api/register", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                username: username,
                email: email,
                password: password,
                phone: phone,
                petSpices: petSpices
            })
        });

        if (response.ok) {
            const data = await response.json();
            console.log(data)

            window.location.href = "/login";
        } else {
            console.log("error")
        }
    });
</script>
</body>
</html>