# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Set Yml
      run: |
        echo "DATASOURCE_URL=${{ secrets.DATASOURCE_URL }}" >> application.yml
        echo "DATASOURCE_USERNAME=${{ secrets.DATASOURCE_USERNAME }}" >> application.yml
        echo "DATASOURCE_PASSWORD=${{ secrets.DATASOURCE_PASSWORD }}" >> application.yml
        echo "KAKAO_CLIENT_ID=${{ secrets.KAKAO_CLIENT_ID }}" >> application.yml
        echo "KAKAO_CLIENT_SECRET=${{ secrets.KAKAO_CLIENT_SECRET }}" >> application.yml
        echo "KAKAO_REDIRECT_URI=${{ secrets.KAKAO_REDIRECT_URI }}" >> application.yml
        echo "JWT_SECRET=${{ secrets.JWT_SECRET }}" >> application.yml
        echo "NAVER_CLOUD_SMS_ACCESS_KEY=${{ secrets.NAVER_CLOUD_SMS_ACCESS_KEY }}" >> application.yml
        echo "NAVER_CLOUD_SMS_SECRET_KEY=${{ secrets.NAVER_CLOUD_SMS_SECRET_KEY }}" >> application.yml
        echo "NAVER_CLOUD_SMS_SERVICE_ID=${{ secrets.NAVER_CLOUD_SMS_SERVICE_ID }}" >> application.yml
        echo "NAVER_CLOUD_SMS_SENDER_PHONE=${{ secrets.NAVER_CLOUD_SMS_SENDER_PHONE }}" >> application.yml
      working-directory: ./server/src/main/resources/application.yml
      
    - name: Build with Gradle
      uses: gradle/gradle-build-action@bd5760595778326ba7f1441bcf7e88b49de61a25 # v2.6.0
      with:
        arguments: build

    - name: Run chmod to make gradlew executable
      run: chmod +x ./gradlew
